@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: outfit;
}
.prata-regular {
    font-family: "Prata", serif;
     font-weight: 200; 
     font-style: normal; 
  } 
  